@import 'bulma/bulma';

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    min-height: 100%;
    margin-bottom: -100px;

    &:after {
        content: '';
        display: block;
        height: 100px;
    }
}

#search {
    min-height: 400px;
    margin-bottom: 40px;
    margin-top: 30px;

    #field_eth {
        width: 200px;
        @include desktop {
            width: 350px;
        }
    }
}

.results-container {
  padding: 15px;

  h2 {
      font-weight: bold;
      word-wrap: break-word;
      padding-bottom: 10px;
  }
  h4 {
      padding-bottom: 40px;
      font-weight: bold;
  }

  p {
    padding-bottom: 10px;
  }

  .table-container {
    overflow-x: auto;

    table {
      td {
        &:nth-child(1) {
          display: none;
          @include tablet {
            display: block;
          }
        }
      }
    }
  }
}

.footer {
    padding: 20px;
    height: 100px;
}
